<!-- The Footer -->
<div class="footer">
	<section id="footerNewsletter" role="form" aria-label="newsletter signup">
		<form>
			Email:
			<input type="text" name="email" value="Please enter your email address">
			<input type="radio" name="consent" value="">
			Yes, please subscribe me to any updates from the theme park. I agree that my data is kept private and never shared
			with any third-party in accordance to law.
		</form>
	</section>
	<section id="footerContact" role="contentinfo" aria-label="address and email">
		<div>
			<p>
				Curabitur molestie maximus nulla </br>
				Aenean non quam pulvinar </br>
				nunc dictum rhoncus a eu turpis </br>
				University of London </br>
			</p>
			<a href="mailto:info@themepark.com">info@themepark.com</a>
			<a href="#">Contact Us</a>
			<a href="#">Find our theme park</a>
			<a href="#">Download our app.</a>
		</div>
	</section>
	<section id="footerOpening" role="contentinfo" aria-label="opening hours">
		<div>
		  <p>
			We are open:
			<p>Monday - Friday, 10am - 8pm</p>
			<p>Saturday - Sunday, 10am - 10pm</p>
		  </p>
		</div>
	</section>
</div>
